.e113_272 {
  overflow: hidden;
}
.e113_272 {
  background-color: rgba(255, 255, 255, 1);
  width: 1512px;
  height: 982px;
  position: absolute;
}
.e117_473 {
  background-color: rgba(255, 255, 255, 1);
  width: 1512px;
  height: 120px;
  position: absolute;
  left: 1.1368683772161603e-13px;
  top: -2.2737367544323206e-13px;
}
.ei117_473_117_470 {
  width: 34px;
  height: 33px;
  position: absolute;
  left: 70.23560333251953px;
  top: 43.5px;
}
.i117_473_117_470_67_970 {
  overflow: hidden;
}
.ei117_473_117_470_67_970 {
  border-radius: 500px;
  background-color: rgba(
    196.00000351667404,
    196.00000351667404,
    196.00000351667404,
    1
  );
  width: 34px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei117_473_117_470_67_971 {
  width: 35.379512786865234px;
  height: 41.425537109375px;
  position: absolute;
  left: -0.689754843711853px;
  top: -4.2127685546875px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei117_473_117_421 {
  background-color: rgba(
    17.00000088661909,
    17.00000088661909,
    17.00000088661909,
    1
  );
  width: 76.484375px;
  height: 48px;
  position: absolute;
  left: 134.235595703125px;
  top: 36px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.ei117_473_117_421_113_318 {
  color: rgba(255, 255, 255, 1);
  width: 43px;
  height: 19px;
  position: absolute;
  left: 16px;
  top: 14px;
  font-family: Roboto;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.ei117_473_117_422 {
  width: 54.734375px;
  height: 48px;
  position: absolute;
  left: 240.719970703125px;
  top: 36px;
}
.ei117_473_117_422_113_321 {
  color: rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
  width: 48px;
  height: 19px;
  position: absolute;
  left: -2px;
  top: 14px;
  font-family: Roboto;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.ei117_473_267_4823 {
  background-color: rgba(255, 255, 255, 1);
  width: 234px;
  height: 45px;
  position: absolute;
  left: 325.454345703125px;
  top: 37.5px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}
.i117_473_267_4823 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.ei117_473_267_4823_1_117 {
  color: rgba(12.311647161841393, 12.311647161841393, 12.311647161841393, 1);
  width: 138px;
  height: 21px;
  position: absolute;
  left: 32px;
  top: 12px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.ei117_473_267_4823_1_118 {
  color: rgba(12.311647161841393, 12.311647161841393, 12.311647161841393, 1);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 182px;
  top: 12.5px;
  font-family: Material Icons;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.ei117_473_117_423 {
  background-color: rgba(
    233.00000131130219,
    233.00000131130219,
    233.00000131130219,
    1
  );
  width: 566px;
  height: 48px;
  position: absolute;
  left: 589.454345703125px;
  top: 36px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.ei117_473_117_423_116_341 {
  width: 566px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei117_473_117_423_116_342 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 16px;
}
.ei117_473_117_423_116_343 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei117_473_117_423_116_344 {
  background-color: rgba(
    95.00000193715096,
    95.00000193715096,
    95.00000193715096,
    1
  );
  width: 15.99824047088623px;
  height: 15.99824047088623px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei117_473_117_423_116_345 {
  color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
  width: 50px;
  height: 19px;
  position: absolute;
  left: 40px;
  top: 14px;
  font-family: Roboto;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.ei117_473_117_424 {
  transform: rotate(9.93923337957349e-17deg);
  width: 36px;
  height: 36px;
  position: absolute;
  left: 1185.454345703125px;
  top: 42px;
}
.ei117_473_117_424_117_374 {
  width: 30.00143814086914px;
  height: 30.712499618530273px;
  position: absolute;
  left: 2.998847723007202px;
  top: 2.8980000019073486px;
}
.ei117_473_117_424_117_375 {
  background-color: rgba(
    142.00000673532486,
    142.00000673532486,
    142.00000673532486,
    1
  );
  width: 30.00143814086914px;
  height: 30.712499618530273px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei117_473_117_425 {
  transform: rotate(3.975693351829396e-16deg);
  width: 36px;
  height: 36px;
  position: absolute;
  left: 1251.454345703125px;
  top: 42px;
}
.ei117_473_117_425_67_925 {
  background-color: rgba(
    142.00000673532486,
    142.00000673532486,
    142.00000673532486,
    1
  );
  width: 33px;
  height: 36px;
  position: absolute;
  left: 1.5px;
  top: 0px;
}
.ei117_473_627_3222 {
  transform: rotate(0.7015572777900195deg);
  width: 48.58412170410156px;
  height: 59.58404541015625px;
  position: absolute;
  left: 1318.1839599609375px;
  top: 29.91277313232422px;
}
.ei117_473_627_3222_627_2849 {
  transform: rotate(1.1541825828031875e-8deg);
  width: 48px;
  height: 48px;
  position: absolute;
  left: 9.668838174548e-9px;
  top: 0px;
}
.ei117_473_627_3222_627_2849_627_2206 {
  border-radius: 500px;
  background-color: rgba(230.00000149011612, 0, 35.00000171363354, 1);
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei117_473_627_3222_627_2849_627_2207 {
  color: rgba(255, 255, 255, 1);
  width: 19px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 12px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.ei117_473_627_3222_627_2843 {
  transform: rotate(-0.701557266248194deg);
  width: 48px;
  height: 48px;
  position: absolute;
  left: 9.668838174548e-9px;
  top: 11.587646484375px;
}
.ei117_473_627_3222_627_2843_67_949 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 28px;
  top: 28px;
}
.ei117_473_627_3222_627_2843_67_950 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei117_473_627_3222_627_2843_67_951 {
  background-color: rgba(230.00000149011612, 0, 35.00000171363354, 1);
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei117_473_627_3222_627_2843_67_952 {
  border-radius: 500px;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.i117_473_627_3222_627_2843_67_952 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.ei117_473_117_386 {
  transform: rotate(-90.00000250447808deg);
  width: 43.999996185302734px;
  height: 45.000003814697266px;
  position: absolute;
  left: 1396.764404296875px;
  top: 82px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ei117_473_117_386_117_383 {
  border-radius: 500px;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei117_473_117_386_117_384 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 14px;
  top: 15px;
}
.ei117_473_117_386_117_384_67_931 {
  background-color: rgba(
    142.00000673532486,
    142.00000673532486,
    142.00000673532486,
    1
  );
  width: 10.001667022705078px;
  height: 15.99979019165039px;
  position: absolute;
  left: 3px;
  top: 0.0002096561511280015px;
}
.e137_2019 {
  width: 1512px;
  height: 862px;
  position: absolute;
  left: 0px;
  top: 120px;
}
.e137_1846 {
  width: 1512px;
  height: 2159px;
  position: absolute;
  left: 0px;
  top: -8px;
}
.ei137_1846_121_270 {
  width: 354px;
  height: 1660px;
  position: absolute;
  left: 24px;
  top: 24px;
}
.ei137_1846_121_1693 {
  width: 292.0171203613281px;
  height: 422.4025573730469px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei137_1846_121_1693_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 292.0171203613281px;
  height: 382.4025573730469px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1693_119_124 {
  width: 292.0171203613281px;
  height: 382.4025573730469px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1693_119_128 {
  width: 292.0171203613281px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 390.4025573730469px;
}
.ei137_1846_121_1693_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1693_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1693_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_225 {
  width: 354px;
  height: 246px;
  position: absolute;
  left: 0px;
  top: 438.4025573730469px;
}
.ei137_1846_121_225_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 206px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_225_119_124 {
  width: 354px;
  height: 206px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_225_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 214px;
}
.ei137_1846_121_225_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_225_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_225_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_275 {
  width: 354px;
  height: 327px;
  position: absolute;
  left: 0px;
  top: 700.402587890625px;
}
.ei137_1846_121_275_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 287px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_275_119_124 {
  width: 354px;
  height: 287px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_275_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 295px;
}
.ei137_1846_121_275_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_275_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_275_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_1631 {
  width: 354px;
  height: 425px;
  position: absolute;
  left: 0px;
  top: 1043.402587890625px;
}
.ei137_1846_121_1631_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 385px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1631_119_124 {
  width: 354px;
  height: 385px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1631_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 393px;
}
.ei137_1846_121_1631_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1631_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1631_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_1672 {
  width: 354px;
  height: 409px;
  position: absolute;
  left: 0px;
  top: 1484.402587890625px;
}
.ei137_1846_121_1672_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 369px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1672_119_124 {
  width: 354px;
  height: 369px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1672_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 377px;
}
.ei137_1846_121_1672_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1672_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1672_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_271 {
  width: 354px;
  height: 2111px;
  position: absolute;
  left: 394px;
  top: 24px;
}
.ei137_1846_121_272 {
  width: 354px;
  height: 271px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei137_1846_121_272_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_272_119_124 {
  width: 354px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_272_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 239px;
}
.ei137_1846_121_272_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_272_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_272_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_273 {
  width: 354px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 287px;
}
.ei137_1846_121_273_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_273_119_124 {
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_273_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 278px;
}
.ei137_1846_121_273_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_273_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_273_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_274 {
  width: 354px;
  height: 170px;
  position: absolute;
  left: 0px;
  top: 613px;
  background-image: url(images/card_default.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_274_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 170px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_274_119_124 {
  width: 354px;
  height: 170px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1610 {
  width: 354px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 799px;
}
.ei137_1846_121_1610_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1610_119_124 {
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1610_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 278px;
}
.ei137_1846_121_1610_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1610_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1610_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_1679 {
  width: 354px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 1125px;
}
.ei137_1846_121_1679_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1679_119_124 {
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1679_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 278px;
}
.ei137_1846_121_1679_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1679_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1679_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_1700 {
  width: 354px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 1451px;
}
.ei137_1846_121_1700_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1700_119_124 {
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1700_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 278px;
}
.ei137_1846_121_1700_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1700_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1700_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_300 {
  transform: rotate(9.93923337957349e-17deg);
  width: 354px;
  height: 2111px;
  position: absolute;
  left: 764px;
  top: 24px;
}
.ei137_1846_121_302 {
  width: 354px;
  height: 567px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei137_1846_121_302_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 527px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_302_119_124 {
  width: 354px;
  height: 527px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_302_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 535px;
}
.ei137_1846_121_302_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_302_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_302_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_303 {
  width: 354px;
  height: 326px;
  position: absolute;
  left: 0px;
  top: 583px;
}
.ei137_1846_121_303_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 286px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_303_119_124 {
  width: 354px;
  height: 286px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_303_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 294px;
}
.ei137_1846_121_303_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_303_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_303_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_304 {
  width: 354px;
  height: 246px;
  position: absolute;
  left: 0px;
  top: 925px;
}
.ei137_1846_121_304_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 206px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_304_119_124 {
  width: 354px;
  height: 206px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_304_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 214px;
}
.ei137_1846_121_304_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_304_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_304_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_1617 {
  width: 354px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 1187px;
}
.ei137_1846_121_1617_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1617_119_124 {
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1617_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 278px;
}
.ei137_1846_121_1617_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1617_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1617_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_1686 {
  width: 354px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 1513px;
}
.ei137_1846_121_1686_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1686_119_124 {
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1686_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 278px;
}
.ei137_1846_121_1686_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1686_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1686_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_1707 {
  width: 354px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 1839px;
}
.ei137_1846_121_1707_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1707_119_124 {
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1707_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 278px;
}
.ei137_1846_121_1707_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1707_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1707_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_329 {
  width: 354px;
  height: 2111px;
  position: absolute;
  left: 1134px;
  top: 24px;
}
.ei137_1846_121_330 {
  width: 354px;
  height: 289px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei137_1846_121_330_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 249px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_330_119_124 {
  width: 354px;
  height: 249px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_330_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 257px;
}
.ei137_1846_121_330_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_330_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_330_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_331 {
  width: 354px;
  height: 387px;
  position: absolute;
  left: 0px;
  top: 305px;
}
.ei137_1846_121_331_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 347px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_331_119_124 {
  width: 354px;
  height: 347px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_331_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 355px;
}
.ei137_1846_121_331_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_331_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_331_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_332 {
  width: 354px;
  height: 356px;
  position: absolute;
  left: 0px;
  top: 708px;
  background-image: url(images/card_default.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_332_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 316px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_332_119_124 {
  width: 354px;
  height: 316px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_332_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 324px;
}
.ei137_1846_121_332_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_332_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_332_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_333 {
  width: 354px;
  height: 304px;
  position: absolute;
  left: 0px;
  top: 1080px;
}
.ei137_1846_121_333_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 264px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_333_119_124 {
  width: 354px;
  height: 264px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_333_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 272px;
}
.ei137_1846_121_333_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_333_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_333_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_1624 {
  width: 354px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 1400px;
}
.ei137_1846_121_1624_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1624_119_124 {
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1624_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 278px;
}
.ei137_1846_121_1624_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1624_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1624_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
.ei137_1846_121_1714 {
  width: 354px;
  height: 310px;
  position: absolute;
  left: 0px;
  top: 1726px;
}
.ei137_1846_121_1714_119_123 {
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.ei137_1846_121_1714_119_124 {
  width: 354px;
  height: 270px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1714_119_128 {
  width: 354px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 278px;
}
.ei137_1846_121_1714_119_129 {
  border-radius: 500px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ei137_1846_121_1714_119_130 {
  width: 156px;
  height: 14px;
  position: absolute;
  left: 38px;
  top: 9px;
}
.ei137_1846_121_1714_119_131 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.20000000298023224;
  line-height: px;
}
