@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo {
  width: 120px; /* Adjust the size as needed */
  height: auto;
  transition: transform 0.5s ease; /* Adjust the transition duration and timing function as needed */
}

.main-body {
  position: absolute;
  top: 100vh; /* Position the content off-screen initially */
  left: 0;
  right: 0;
  background-color: #fff; /* Adjust the background color as needed */
  padding: 20px;
  transition: top 0.5s ease; /* Adjust the transition duration and timing function as needed */
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  margin-left: 30px;
  margin-right: 20px;
  gap: 30px;
}

.left-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.left-logo img {
  width: 30px;
}

.left-logo p {
  color: #111111;
  font-weight: 600;
  font-size: 14px;
}

.black-button {
  background-color: #111111;
  color: #fff;
  padding: 15px 15px;
  border-radius: 1000px;
  border: none;
  font-weight: 600;
}

.black-button:hover {
  background-color: #000000;
}

.left-logo span {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 10px;
}

.left-span p {
  font-size: 14px;
}

.left-logo span img {
  width: 13px;
}

.center-nav {
  padding-left: 15px;
  position: relative;
}

.center-nav input {
  padding: 10px 15px;
  border: 1px solid #111111;
  border-radius: 1000px;
  background-color: #E9E9E9;
  border: none;
  color: #333333;
  font-size: 16px;
  width: 650px;
}

.span-search {
  position: absolute;
  top: 20px;
  left: 30px;
  transform: translateY(-50%);
  color: #888;
}

.center-nav input::placeholder {
  color: #333333;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  left: 50px;
  top: 10px
}

.center-nav input:active {
  outline: none;
}

.right-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.right-logo img {
  width: 25px;
}

.right-logo img:last-child {
  width: 10px;
}